body{
  background: #252525;
  font-family: "Press Start 2P";
}

.calcBody{
  background: #444;
  width: 600px;
  border: 10px;
  border-type: thick;
  border-radius: 5%;
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  box-shadow: 0px 0px 30px #000;
}

.brand{
  ;
  font-size: 18px;
  color: #a00;
}

#inputField{
  margin: auto;
  background: #555;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #0f0;
  padding: 10px;
  font-size: 26px;
  white-space:nowrap;
}
.buttonField{
  padding: 20px;
  padding-left: 33px;
  margin: auto;
}

.beepboop{
  margin: 20px;
  background: #aaa;
  color: #000;
  font-size: 40px;
}

.beepboop:active{
  background: #afa;
}

.beepboop:hover{
  background: #afa;
}

.operation{
  width: 120%;
  color: #01f;
  background: #777;
}

#equals{
  color: #0ff;
  background: #777;
}

#equals:hover{
  background: #afa;
}


#clear {
  color: #f00;
  font-size: 28px;
  width: 120%;
  height: 100%;
  margin-bottom: -5px;
  margin-top: -9px;
  padding-top: 0px;
}
#ce{
  color: #f00;
  font-size: 28px;
  width: 90%;
  height: 100%;
  margin-bottom: -5px;
  margin-top: -9px;
  padding-top: 0px;
  margin-left: 60px;
}

.tiny{
  font-size: 8px;
}